footer
  p.bottomRight Contact Me 
    //- TODO check if mailto is ok
    a(href="mailto:vishah2001@gmail.com").icon-envelop 
    a(href="https://github.com/vishalmshah").icon-github 
    //- a(href="#").icon-linkedin2 
