link(rel="shortcut icon" type="image/x-icon" href="")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="author" content="Vishal Shah")
meta(name="description" content="A portfolio of Vishal Shah's work. Vishal is a teenager who works on projects in his free time. He has a passion for learning and a drive to make the world a better place.")
meta(name="keywords" content="Vishal, Shah, Teenager, Programming, Portfolio, Projects")
link(href="dist/images/icons/style.css" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Megrim|Raleway" rel="stylesheet")
link(rel="stylesheet" href="dist/css/main.css" type="text/css")
