#landing.grid-container
  .menuSection.grid-leftItem
    .menuBtn
      span
  .titleSection.grid-mainCenter
    h1.mainTitle Vishal Shah
    //- h2.subTitle Vishal is a teenager with a passion for learning.
