doctype
html
  head
    title Vishal Shah
    include partials/_head.pug

  body
    
    include partials/_loader.pug
    
    include partials/_transition.pug
      
    include sections/landing.pug
    
    include sections/infoMenu.pug
    
    include sections/canvas.pug

    //- .grid-container
    //-   .grid-leftItem
    //-     p helloagain
    //-   .grid-mainCenter
    //-     p hello
    
    include partials/_footer.pug

    include partials/_lowerHead.pug
